.card-input .form-control {
  padding: 0;
  background-image: none;
}

.card-input .form-control.is-focused {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.card-input .form-control.is-invalid.is-focused {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.card-input .form-control.is-valid.is-focused {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.btn svg {
  vertical-align: middle;
}

.btn .btn__inner-loading {
  display: none;
}

.btn .btn__inner {
  display: block;
}

.btn-loading .btn__inner-loading {
  display: block;
}

.btn-loading .btn__inner {
  display: none;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  display: none;
  background-color: rgba(40, 40, 40, 0.7);
}

.loader .spinner-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
  height: 40px;
}

body.loading {
  overflow: hidden;
}

body.loading .loader {
  display: block;
}

.payment-button {
  height: 42px;
  background: #e5e7eb;
  border-radius: 4px;
  flex: 1;
  margin: 0.5rem;
  box-sizing: border-box;
}

.payment-methods {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

#bizum {
  min-width: calc(100% - 1rem);
}

@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    margin-top: -.5rem;
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .payment-methods {
    display: block;
    margin: -1rem 0;
  }
  .payment-methods .payment-button {
    margin: 1rem 0;
  }
}
